.b{
	background:hotpink;
	color:white;
	padding: 15px 30px;
	text-align: center;
	font-size: 30px;
}
.t{
	font-size: 35px;
	background:blanchedalmond;
	text-align: center;
}
.h{
	background-color:whitesmoke;
}
.center{
padding-left: 500px;
}
body{
	background-color: ;
}
